# directories
API/
IBAccount/
Logs/
TradeGateway/build/
TradeGateway/.idea/
Models/GeneticProgression/Alive
Models/GeneticProgression/Deceased

# python artifact
**__pycache__

# compiled file
*.pyc
*.class
*.jar
*.prof
