# directories
API/
IBAccount/
Logs/
TradeGateway/build/
TradeGateway/.idea/
Models/.idea/

Models/LinearRegression/progression/*
!Models/LinearRegression/progression/DNA.json
Models/NeuralNetwork/progression/*
!Models/NeuralNetwork/progression/DNA.json
Models/PCA_KMeans/progression/*
!Models/PCA_KMeans/progression/DNA.json
Models/SGDRegression/progression/*
!Models/SGDRegression/progression/DNA.json

# python artifact
**__pycache__

# compiled file
*.pyc
*.class
*.jar
*.prof
